/* Extra CSS to make the website look nicer and more intuitive */

.drac-text {
    font-family: "Roboto", sans-serif;
}

.drac-btn {
    font-family: "Roboto", sans-serif;
}

.drac-input {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: underline;
}
